body {
    background: url('777.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    backdrop-filter: blur(50px);
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 30px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 420px;
}

.container #solve-button {
    background-color: transparent;
    width: 88%;
    height: 50px;
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(90deg, black, #6e2762);
    border: none;
    outline: none;
    box-shadow: 0 8px 10px rgb(0, 0, 0, .5);
    font-weight: 500;
    margin: 0 0 0 20px;
}

h1 {
    margin-bottom: 20px;
}

.grid {
    display: grid;
    gap: 0;
    /* 去掉格子间的空隙 */
    grid-template-columns: repeat(9, 30px);
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 30px;
}

.cell {
    /* backdrop-filter: blur(100px); */
    border-radius: 3px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #bb0f70;
    box-sizing: border-box;
    background-color: transparent;
    color: #fff;
}

/* 粗线分隔大格子 */
/* 垂直粗线：每 3 列 */
.cell:nth-child(3n) {
    border-right: 2px solid black;
}

.cell:nth-child(3n+1) {
    border-left: 2px solid black;
}

/* 水平粗线：每 3 行 */
.cell:nth-child(-n+9) {
    border-top: 2px solid black;
    /* 第一行加粗顶部边框 */
}

.cell:nth-child(n+19):nth-child(-n+27),
.cell:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 2px solid black;
    /* 第 3、6 行底部加粗 */
}

.grid>.cell:nth-last-of-type(-n+9) {
    border-bottom: 2px solid black;
    /* 最后一行加粗底部边框 */
}

.solved-cell {
    color: rgb(255, 0, 0);
    font-weight: bold;
}