<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>使用者資料</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>

<body>
    <button id="btn" onclick="showPassword()">Show Email and Password</button>
</body>
<script>
    function showPassword() {
        // 從 localStorage 獲取 storedUsersMap 的值
        const storedUsersMap = new Map(JSON.parse(localStorage.getItem('usersMap')));

        // 檢查是否有數據
        if (storedUsersMap && storedUsersMap.size > 0) {
            // 構建要顯示的 HTML 字串
            let content = "<h1>Registered Users</h1><ul>";
            storedUsersMap.forEach((password, email) => {
                content += `<li>Email: ${email}    ,        Password: ${password}</li><br>`;
            });
            content += "</ul>";

            // 用 document.write() 將內容寫入頁面
            document.write(content);
        } else {
            // 如果沒有數據
            document.write("<h1>No registered users found.</h1>");
        }
    }
</script>

</html>